<!-- #region Profile -->
<div class="header row justify-content-start">
	<div class="identity col-12 col-lg-3">
		<div class="row justify-content-center">
			<div class="col-6 col-lg-12">
				<img class="rounded-circle w-100 shadow border border-2 border-primary" alt="Shahzad's display picture"
					src="https://mypersonalstotrage.blob.core.windows.net/images/profile.jpg" />
			</div>
		</div>
		<div class="mt-3 text-center">
			<div class="mb-1"><i class="bi-envelope-fill me-1 text-info" title="Email"></i><label class="fw-light"><a
						class="text-info" href="mailto:shahzadadil@live.com">shahzadadil@live.com</a></label></div>
			<div class="mb-1"><i class="bi-phone-fill me-1 text-info" title="Mobile Number"></i><label
					class="fw-light"><a class="text-info" href="tel:+917507774564">+91-7507774564</a></label></div>
			<div class="mb-1 mt-2">
				<a href="https://linkedin.com/in/shahzadadil" target="blank"><i
						class="bi-linkedin ms-2 me-2 text-linkedin fs-5" title="LinkedIn Profile"></i></a>
				<a href="https://github.com/shahzadadil" target="blank"><i class="bi-github ms-2 me-2 text-github fs-5"
						title="GitHub Profile"></i></a>
				<a href="https://stackoverflow.com/users/1766922/shahzad" target="blank"><i
						class="bi-stack-overflow ms-2 me-2 text-stackoverflow fs-5"
						title="StackOverflow Profile"></i></a>
				<a href="https://twitter.com/shahzadadil" target="blank"><i
						class="bi-twitter ms-2 me-2 text-twitter fs-5" title="Twitter Profile"></i></a>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-1 mt-3 mt-lg-0"></div>

	<div class="col-12 col-lg-8 text-center text-lg-start mt-auto mb-auto">
		<div class="row">
			<div class="col-12 col-sm">
				<h1 class="display-4 text-primary">Mohammad Shahzad Adil (Shahzad)</h1>
			</div>
		</div>
		<div class="row fw-light">
			<div class="col-12">
				<p class="mb-1">
					<i class="bi-hourglass-split me-1 text-info" title="Experience & Qualification"></i>
					<em>11+ years | Bachelors Degree in Information Technology (Engineering)</em>
				</p>
			</div>
			<div class="col-12">
				<p class="mb-1">
					<i class="bi-code-square me-1 text-info" title="Expertise"></i>
					.Net | Azure | IoT | Front-End | DDD | TDD
				</p>
			</div>
			<div class="col-12">
				<p class="mb-1">
					<i class="bi-person-workspace me-1 text-info" title="What I do"></i>
					Architecture &
					Development | Mentoring & Training | Consulting
				</p>
			</div>
		</div>
	</div>
</div>
<!-- #endregion -->

<!-- #region What I Do -->
<div class="responsibility row mt-5 mb-3">
	<div class="col-12 text-primary">
		<h1 class="display-4">What I Do?</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex flex-wrap text-center text-white gap-3 ps-3">
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-file-code text-info"></i></h1>
				<h5 class="card-title">Programming</h5>
				<p class="card-text">Hands-On programming and development of the modules and features
				</p>
			</div>
		</div>
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-boxes text-info"></i></h1>
				<h5 class="card-title">Architecture</h5>
				<p class="card-text">Designing and reviewing the architecture for new modules through
					research and
					discussion, documentation and educating the team</p>
			</div>
		</div>
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-people text-info"></i></h1>
				<h5 class="card-title">Mentoring & Coaching</h5>
				<p class="card-text">Mentor teams (organisation wide) and guide them through challenges,
					both technical and operational</p>
			</div>
		</div>
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-file-slides text-info"></i></h1>
				<h5 class="card-title">Training</h5>
				<p class="card-text">Conduct trainings on various technologies, practices and processes
				</p>
			</div>
		</div>
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-diagram-3 text-info"></i></h1>
				<h5 class="card-title">Consulting</h5>
				<p class="card-text">Provide consultations for architecture design, review, estimation
					and execution plan</p>
			</div>
		</div>
		<div class="card bg-secondary" style="max-width: 18rem;">
			<div class="card-body">
				<h1 class="mb-2"><i class="bi bi-person-check text-info"></i></h1>
				<h5 class="card-title">Interviewing</h5>
				<p class="card-text">Conduct interviews and provide feedback/assistance to recruitment
					teams</p>
			</div>
		</div>
	</div>
	<!-- <div class="col-12 justify-content-center" id="ResponsibilityChartContainer">

              </div> -->
</div>
<!-- #endregion -->

<!-- #region History -->

<div class="my-history row mt-5 mb-3">
	<div class="col-12 text-primary">
		<h1 class="display-4">My History</h1>
	</div>
</div>
<div class="row ms-1 me-1 fw-light">
	<div class="col-12">
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">Now</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Working with <a class="text-info" href="https://www.e-zest.com">e-Zest Solutions,
					Pune</a> as an Architect
				and Lead, guiding teams, conducting trainings and some more...
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2014</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Worked for <a class="text-info" href="https://m-hance.com/">m-Hance India, Pune</a>
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2013</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Worked for <a class="text-info" href="https://www.techmahindra.com/">Tech Mahindra,
					Pune</a> after
				joining as a fresher
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2010</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Pursued B. Tech
				(Information Technology) engineering degree from
				<a class="text-info" href="https://bvucoepune.edu.in/">Bharati Vidyapeeth University,
					Pune</a>
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2006</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Pursued HSC in Science from <a class="text-info" href="http://chinmayabokaro.org/">Chinmaya Vidyalaya,
					Bokaro (CBSE)</a>
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2004</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Pursued SSC from <a class="text-info" href="https://www.jnmsdigwadih.in/">JNMSS,
					Digwadih (CBSE)</a>
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">2003</span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-12 border-start border-warning border-2 pt-3 pb-3">
				Grew up in Dhanbad, Jharkhand. Spent some the best years of my childhood playing,
				studying and hanging out with friends.
			</div>
		</div>
		<div class="row border-3 border-start border-info">
			<div class="col-12">
				<h6 class="display-6 mt-1 text-info">
					<span class="border border-2 border-info rounded-pill ps-3 pe-3">1988</span>
				</h6>
			</div>
		</div>
	</div>
</div>

<!-- #endregion-->

<!-- #region Skills -->
<div class="skills row mt-5 mb-3">
	<div class="col-12 text-primary">
		<h1 class="display-4">Skills</h1>
	</div>
</div>
<div class="row d-flex flex-wrap skill-details fw-light">
	<div class="col-12">
		<div class="mb-3">
			<div class="">
				<span class="display-6 text-info"><i class="bi-code-square"></i> Programming</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">.NET Core</span>
				<span class="skill text-white bg-success bg-gradient">.NET</span>
				<span class="skill text-white bg-success bg-gradient">ASP.NET</span>
				<span class="skill text-white bg-success bg-gradient">MVC</span>
				<span class="skill text-white bg-success bg-gradient">Web API</span>
				<span class="skill text-white bg-success bg-gradient">AngularJs</span>
				<span class="skill text-white bg-success bg-gradient">KnockoutJs</span>
				<span class="skill text-white bg-success bg-gradient">Web API</span>
				<span class="skill text-white bg-success bg-gradient">Web API</span>
				<span class="skill text-white bg-success bg-gradient">WCF</span>
				<span class="skill text-white bg-success bg-gradient">C#</span>
				<span class="skill text-white bg-success bg-gradient">Highcharts</span>

				<span class="skill text-black bg-warning bg-gradient">Windsor Castle</span>
				<span class="skill text-black bg-warning bg-gradient">Quartz Scheduler</span>
				<span class="skill text-black bg-warning bg-gradient">HTML</span>
				<span class="skill text-black bg-warning bg-gradient">CSS</span>
				<span class="skill text-black bg-warning bg-gradient">JavaScript</span>
				<span class="skill text-black bg-warning bg-gradient">jQuery</span>
				<span class="skill text-black bg-warning bg-gradient">Gulp</span>
				<span class="skill text-black bg-warning bg-gradient">Terraform</span>

				<span class="skill text-white bg-secondary bg-gradient">TypeScript</span>
				<span class="skill text-white bg-secondary bg-gradient">Azure CLI</span>
				<span class="skill text-white bg-secondary bg-gradient">PowerShell</span>

				<span class="skill text-black bg-light bg-gradient">MS Bot Framework</span>
				<span class="skill text-black bg-light bg-gradient">React</span>
				<span class="skill text-black bg-light bg-gradient">Angular</span>
				<span class="skill text-black bg-light bg-gradient">SignalR</span>
				<span class="skill text-black bg-light bg-gradient">Xamarin</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div class="">
				<span class="display-6 text-info"><i class="bi-columns-gap"></i> Integration</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">Auth0 SSO</span>

				<span class="skill text-black bg-warning bg-gradient">Zoho CRM API</span>

				<span class="skill text-white bg-secondary bg-gradient">MS Dynamics CRM</span>
				<span class="skill text-white bg-secondary bg-gradient">Skype For Business Web
					SDK</span>
				<span class="skill text-white bg-secondary bg-gradient">Outlook Integration</span>

				<span class="skill text-black bg-light bg-gradient">MS Bot Framework</span>
				<span class="skill text-black bg-light bg-gradient">SharePoint Online CSOM</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-cloud"></i> Cloud</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">Azure Storage</span>
				<span class="skill text-white bg-success bg-gradient">Azure Functions</span>
				<span class="skill text-white bg-success bg-gradient">Durable Functions</span>

				<span class="skill text-black bg-warning bg-gradient">Azure App Service</span>
				<span class="skill text-black bg-warning bg-gradient">Azure Service Bus (Queues,
					Topics)</span>
				<span class="skill text-black bg-warning bg-gradient">Azure IoT Hub</span>
				<span class="skill text-black bg-warning bg-gradient">Application Insights</span>

				<span class="skill text-white bg-secondary bg-gradient">Azure VM</span>
				<span class="skill text-white bg-secondary bg-gradient">Azure Web Jobs</span>
				<span class="skill text-white bg-secondary bg-gradient">Azure SQL</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-server"></i> Databases &
					Frameworks</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">SQL</span>

				<span class="skill text-black bg-warning bg-gradient">Entity Framework</span>
				<span class="skill text-black bg-warning bg-gradient">Redis</span>

				<span class="skill text-white bg-secondary bg-gradient">NHibernate</span>
				<span class="skill text-white bg-secondary bg-gradient">Neo4j Graph Database</span>

				<span class="skill text-black bg-light bg-gradient">MongoDB</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-ui-checks"></i> Testing</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">TDD</span>
				<span class="skill text-white bg-success bg-gradient">MsTest</span>
				<span class="skill text-white bg-success bg-gradient">NUnit</span>

				<span class="skill text-black bg-warning bg-gradient">Rhino Mocks</span>
				<span class="skill text-black bg-warning bg-gradient">Jasmine</span>

				<span class="skill text-white bg-secondary bg-gradient">xUnit</span>
				<span class="skill text-white bg-secondary bg-gradient">Moq</span>
				<span class="skill text-white bg-secondary bg-gradient">Karma</span>
				<span class="skill text-white bg-secondary bg-gradient">Selenium</span>
				<span class="skill text-white bg-secondary bg-gradient">Puppeteer</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-recycle"></i> DevOps & Process</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">Git</span>

				<span class="skill text-black bg-warning bg-gradient">Azure DevOps</span>
				<span class="skill text-black bg-warning bg-gradient">Azure CI/CD Pipelines</span>

				<span class="skill text-white bg-secondary bg-gradient">JIRA</span>

				<span class="skill text-black bg-light bg-gradient">TeamCity</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-bezier"></i> Methodologies, Practices &
					Architecture</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">Scrum</span>
				<span class="skill text-white bg-success bg-gradient">Agile</span>
				<span class="skill text-white bg-success bg-gradient">SOLID</span>

				<span class="skill text-black bg-warning bg-gradient">Domain Driven Design (DDD)</span>
				<span class="skill text-black bg-warning bg-gradient">Design Patterns</span>
				<span class="skill text-black bg-warning bg-gradient">MicroServices</span>
			</div>
		</div>
		<div class="border-0 mb-3">
			<div>
				<span class="display-6 text-info"><i class="bi-diagram-3"></i> Domain</span>
			</div>
			<div class="card-body">
				<span class="skill text-white bg-success bg-gradient">Telecom</span>
				<span class="skill text-white bg-success bg-gradient">Agriculture & Irrigation</span>

				<span class="skill text-black bg-warning bg-gradient">CRM</span>
				<span class="skill text-black bg-warning bg-gradient">Pharmacy Management</span>

				<span class="skill text-white bg-secondary bg-gradient">Charity & Non-Profit</span>
				<span class="skill text-white bg-secondary bg-gradient">Leave & Absence</span>
			</div>
		</div>
	</div>

</div>
<!-- #endregion -->